[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = ">=3.7"
pytest = "*"
pytest-cov = "*"
tox = "*"
pytest-django = "*"
django-webtest = "*"
django-debug-toolbar = "*"
autopep8 = "*"

[packages]
django = ">=2.2"
djangorestframework = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "flake8 --show-source ."
test = "tox"
format = "autopep8 -aivr ."
