[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = ">=3.7"
pytest = "*"
pytest-cov = "*"
tox = "*"
pytest-django = "*"
django-webtest = "*"
django-debug-toolbar = "*"
autopep8 = "*"

[packages]
django = ">=2.2"
djangorestframework = "*"
logical-delete = {git = "https://github.com/kkiyama117/django-logical-delete",ref = "v1.0.2"}

[requires]
python_version = "3.7"

[scripts]
lint = "flake8 --show-source ."
test = "tox"
format = "autopep8 -aivr . & lint"
